.Linkers a{
    color:gray;
    font-size: small;
}
.Linkers a:hover{
    color: #32cb89;
    cursor: pointer;
}
.socialIcons span{
    color:white;
    font-size: 18px;
    border:0px solid grey;
    border-radius: 50%;
    padding:0px 6px 2px 6px;
    background-color:#b7b7b7;
}
.socialIcons span:hover{
    background-color: grey;
    transition: 0.3s;
    cursor: pointer;
}
.footerOne button:hover{
 color:white;
 background-color: #32cb89;
}