.fw188-payDiv{
    background: #F7F9FB;   
 
  
}

.fw13-containt{
    background: rgb(247,249,251);
    width: 80%;
    height: 1800px;
   
    margin: auto;
}
.fw13-select{
    margin-bottom: 40px;
     color:rgb(48,68,85) ;
   
     line-height: 1.2;
}
.fw13-select>h1{
    /* marginBottom:60px;
     ,color:"rgb(48,68,85)" ,fontWeight:"00px" */
     margin-bottom: 1rem;
     color:rgb(48,68,85) ;
     font-size: 2rem;
     font-weight: 500;
     line-height: 1.2;
}
.fw13-select>p{

     color:rgb(48,68,85) ;
     font-size: 1.1rem;
  
     line-height: 1.2;
}
.fw13-cradInp{
    width: 40%;
}
.fw13-planoption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    color: rgb(48,68,85);
    height: 60px;
   border-bottom: 2px solid rgb(241,243,245);
 }
.fw13-planLitely{
    width: 400px;
    margin: 10px;
    border: 1px solid rgb(181, 184, 186);
    height: 550px;
    color:rgb(48,68,85);
    margin-bottom: 50px; 
    padding: 10px;
    
}
/* .fw13-planLitely:hover{
    border: 2px solid rgb(1, 168, 85);
    color:rgb(48,68,85) ;
} */
.fw13-litely>h3{
    font-weight: 400;
    font-size: 20px;
    color:rgb(48,68,85) 
}
.fw13-lit{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.fw13-lit-text{
    font-size: 15px;
    display: inline;
}
.fw13-hootdiv{
  
    width: 30%;
    margin: auto;
    height: 300px;

    border-radius: 10px;
}
.fw13-divofdiv{
    width: 100%;
    height: 300px;
    
}
.fw13-latdown-img{
    width: 100%;
    height: 70%;
}
.fw13-bill{

    width:100%;
    height:150px;
    
    margin-top: 20px;
}
.fw13-rate{
    width: 45%;
    height: 70px;
    border: 1px solid rgb(211,211,211);

}
.fw13-outer{

    width:15px;
    height: 15px;
    border-radius: 50%;
   border: 1px solid rgb(211,211,211);
  text-align: center;
  padding: 2.5px;
  margin-top: 7px;
  
}
.fw13-inner{

    width:7px;
    height: 7px;
    border-radius: 50%;
    
   
}
.fw13-checkbox:checked{
background-color: green;
}